/*!
 * Marp / Marpit Gaia theme.
 *
 * @theme gaia
 * @author Yuki Hattori
 *
 * @auto-scaling true
 * @size 4:3 960px 720px
 */

/* $color-light: #F8F5EC; */
$color-light: #f5f3ed;
$color-dark: #43453b;
$color-primary: #AE4D29;
$color-secondary:#009AA6;
$color-tertiary: #B19428;

@import-theme 'gaia';

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@300;400&family=Roboto+Slab:wght@300;400&&display=swap');

// lifted from Gaia
@mixin color-scheme($bg, $text, $secondary, $highlight) {
  color: $text;
  background-color: $bg;

  a,
  mark {
    color: $highlight;
  }

  code {
    background: $text;
    color: $bg;
  }

  strong {
    color: $highlight;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $secondary;
    font-weight: 300;
  }
  pre > code {
    background: $text;
  }

  header,
  footer,
  section::after,
  blockquote::before,
  blockquote::after {
    color: mix($text, $bg, 80%);
  }

  table {
    th,
    td {
      border-color: $text;
    }

    thead th {
      background: $text;
      color: $bg;
    }

    tbody > tr:nth-child(odd) {
      td,
      th {
        background: rgba($text, 0.1);
      }
    }
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
  margin: 0.5em 0 0 0;
  // text-transform: uppercase;
  strong {
    font-weight: inherit;
  }
}

h1 {
  font-size: 2.44em;
}

h2 {
  font-size: 1.56em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

p,
blockquote {
  margin: 1em 0 0 0;
}

ul,
ol {
  > li {
    margin: 0.3em 0 0 0;

    > p {
      margin: 0.6em 0 0 0;
    }
  }
}

section {
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  height: 720px;
  line-height: 1.35;
  letter-spacing: 1.25px;
  padding: 70px;
  width: 1280px;
  word-wrap: break-word;
  border-right: solid 10px $color-secondary;
  border-top: solid 10px $color-secondary;

  @include color-scheme($color-light, $color-dark, $color-primary, $color-secondary);

  &[data-marpit-advanced-background=content] {
    border-right: none;
  }

  &.centered {
    display: flex;
    flex-direction: column;

    justify-content: center;

    h1, h2, h3, h4, * {
      margin: 0;
      flex-grow: 1;
    }
  }

  &.sidecode {
    pre {
      display: inline-block;
      float: right;
      width: 49%;
      margin: 1em 0 100vh 2%
    }
    ol, ul, p {
      font-size: 30px;
      width: 49%;
    }
  }

  &.double {
    ol:first-of-type, ul:first-of-type, p:first-of-type, table:first-of-type {
      display: inline-block;
      float: right;
      width: 49%;
      margin: 2.5rem 0 100vh 2%;
    }
    ol:not(:first-of-type), ul:not(:first-of-type), p:not(:first-of-type), table:not(:first-of-type) {
      display: inline-block;
      font-size: 30px;
      width: 49%;
      margin: 2.5rem 0 0 0;
    }
  }

  &.small-text {
    ol, ul, p, tr {
      font-size: 30px;
    }
  }

  &.sidemath {
    p:first-of-type {
      display: inline-block;
      border-left: 1px solid $color-primary;
      padding-left: 20px;
      height: 470px;
      float: right;
      width: 49%;
      margin: 1em 0 100vh 2%
    }
    ol, ul, p {
      font-size: 30px;
      width: 49%;
    }

  }

  &.lead {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    border: none;
    border-left: solid 10px $color-primary;
    border-bottom: solid 10px $color-primary;

    h1 {
      padding: 1.5em 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-align: center;
      color: $color-secondary;

      svg[data-marp-fitting='svg'] {
        --preserve-aspect-ratio: xMidYMid meet;
      }
    }

    p {
      text-align: center;
    }

    blockquote {
      > h1,
      > h2,
      > h3,
      > h4,
      > h5,
      > h6,
      > p {
        text-align: left;
      }

      svg[data-marp-fitting='svg']:not([data-marp-fitting-math]) {
        --preserve-aspect-ratio: xMinYMin meet;
      }
    }

    ul,
    ol {
      > li > p {
        text-align: left;
      }
    }

    table {
      margin-left: auto;
      margin-right: auto;
    }
  }
}


footer img {
  float: right;
}
